<h1 style="text-align: center;"> Find Your Fit </h1>
    <!-- Search button -->
       <form id="search-form" action="/discover" method="GET">
           <div class="input-group p-3">
               <input  type="text" class="form-control" placeholder="Find clothes!" id="search-input" aria-label="Search" name="search">
               <div class="input-group-append">
                   <button class="btn btn-dark" type="submit">Search</button>
               </div>
            </div>
       </form>
<body style="background: url('/img/discover_bg.jpeg') no-repeat center center fixed; background-size: cover; margin: 0; height: 100vh;"></body>
        <!-- Display cards -->
       <!-- Outline from events lab, will update with table data -->
    {{!--
        <div class="col mb-4">
              <div class="card" id="example-card" style="max-width: 400px; max-height: auto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIjilFX8N14B-U621mf8AHMFG_Xm2XR4pb_Q&s" class="card-img-top" alt="..." <!--style="max-width: 200px; max-height: 300"--> >
                <div class="card-body">
                  <h5 class="card-title">Tuxedo</h5>
                  <p class="card-text">A classy tuxedo for a formal occasion.</p>
                  <!-- Wishlist button -->
                 <button class="btn" style="border: none; background: none;" data-outfit-id="{{this.id}}" data-outfit-name="{{this.name}}" data-outfit-description="{{this.description}}">
                   <span class="bi bi-star-fill" style="color: orange;"></span>
                   Wishlist
                 </button>
                </div>
              </div>
            </div> --}}
    <div class="container">
        <div class="row">
            {{#if items.length}}
                {{#each items}}
                <div class="col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                    <div class="card" style="max-width: 400px; max-height: auto">
                        <img src="{{#if this.item_img.length}}{{this.item_img}}{{else}}/resources/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">
                               <!-- Based on api, might be able to add description tags -->
                               <!-- Add a description of the item in the card text -->
                                {{#if this.description}}
                                    {{this.description}}
                                {{else}}
                                    No outfit description.
                                {{/if}}
                            </p>
                            <!-- Wishlist button -->
                            {{#if this.item_id}}
                                <form action="/wishlist" method="POST" id="wishlistForm">
                                    <button type="submit" class="btn btn-outline-warning" id="addWishlistItem" name="item_id" value="{{this.item_id}}">
                                        <span class="bi bi-star-fill" style="color: orange;"></span>
                                        Wishlist
                                    </button>
                                </form>
                            {{else}}
                                Unable to Wishlist
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <p>No items found.</p>
            {{/if}}
        </div>
        </div>
    </div>