<!-- Goals: 
- display profile image
- display username (and encrypted password placeholder?)
- stretch: change password
- change profile img button with display of img options
- display wishlisted items
- delete wishlisted items button function
-->
<!-- <h1 style="text-align: center;"> abc's Profile</h1> -->


<!-- User profile image on the left-->
<div class="container text-center my-5">
    <div class="row justify-content-start align-items-center">
        <div class="col-md-4 col-12 mb-3">
            <img src="/img/default_pfp.jpg" alt="Profile Image" class="img-fluid rounded-circle mb-3">
        </div>

        <!-- User info on the right -->

        <div class="col-md-8 col-12 mb-3 d-flex justify-content-end">
            <div class="card bg-light mx-5" style="width: 20rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title" style="bold"><b>User Info</b></h5>
                    <p class="card-text" style="margin-top: 20px;">
                        Username: {{username}}
                    </p>
                    <p class="card-text" style="margin-top: 20px;">
                        Password: ******
                    </p>
                    <!--
                    {{!-- <form action="/change-password" method="GET"> --}}
                        <button type="button" class="btn btn-primary btn-sm" style="margin-top: 30px">
                            Change Password
                        </button>
                    {{!-- </form> --}}
                    -->
                </div>
            </div>
        </div>
    </div>

    <!-- Button aligned under profile image -->
    <!--
    <div class="row justify-content-start">
        <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left: 125px;">Update Profile Picture</button>
        </div>
    </div>
    -->
</div>

<!-- Created id's for Wishlist buttons: "addWishlistItem" in discover and "removeWishlistItem" in profile for api functions-->

<h3 style="text-align: center;">Saved Outfits</h3>

<form action="/outfit" method="GET" style="margin: auto; width:20%;">
    <button type="submit" class="btn btn-primary btn-lg text-center">Create an Outfit</button>
</form>
<br>
<div class="container">
    <div class="row">
        {{#if outfits.length}}
            {{#each outfits}}
                <div class="col-md-5 col-lg-4 mb-4 d-flex justify-content-center">
                    <!-- Top outfit -->
                    {{#if this.[0]}}
                        <div class="card" style="max-width: 600px; max-height: auto;">
                            <img src="{{#if this.[0].item_img}}{{this.[0].item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.[0].name}}">
                        </div>
                    {{else}}
                        <p>No top outfit.</p>
                    {{/if}}

                    <!-- 2nd outfit piece -->
                    {{#if this.[1]}}
                        <div class="card" style="max-width: 600px; max-height: auto;">
                            <img src="{{#if this.[1].item_img}}{{this.[1].item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.[1].name}}">
                        </div>
                    {{else}}
                        <!--<p>No 2nd piece.</p>-->
                    {{/if}}

                    <!-- 3rd outfit piece -->
                    {{#if this.[2]}}
                        <div class="card" style="max-width: 600px; max-height: auto;">
                            <img src="{{#if this.[2].item_img}}{{this.[2].item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.[2].name}}">
                        </div>
                    {{else}}
                        <!--<p>No 3rd piece.</p>-->
                    {{/if}}

                    <!-- Bottom outfit -->
                    {{#if this.[3]}}
                        <div class="card" style="max-width: 600px; max-height: auto;">
                            <img src="{{#if this.[3].item_img}}{{this.[3].item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.[3].name}}">
                        </div>
                    {{else}}
                        <!--<p>No bottom outfit.</p>-->
                    {{/if}}
                    <br>
                    <form action="deleteOutfit" method="POST">
                        <button type="submit" class="btn btn-outline-danger" id="removeOutfit" name="outfit_id" value="{{this.[0].outfit_id}}">
                            <span class="bi bi-trash-fill" style="color: black;"></span>
                            Delete
                        </button>
                    </form>
                </div>
            {{/each}}
        {{else}}
            <p>No outfits found.</p>
        {{/if}}

    </div>
</div>

<!-- display the top and bottom for each set of outfits and the item titles -->

<h3 style="text-align: center;">Wishlist</h3>

<div class="container" style="width: 70%">
        <div class="row">
            {{#if items.length}}
                {{#each items}}
                <div class="col-md-3 col-lg-2 mb-4 d-flex justify-content-center">
                    <div class="card" style="max-width: 200px; max-height: auto;">
                        <img src="{{#if this.item_img.length}}{{this.item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title fs-6">{{this.name}}</h5>
                            <p class="card-text">
                               <!-- Based on api, might be able to add description tags -->
                               <!-- Add a description of the item in the card text -->
                                {{!-- {{#if this.description}}
                                    {{this.description}}
                                {{else}}
                                    No outfit description.
                                {{/if}} --}}
                            </p>
                            <!-- Wishlist button -->
                            <form action="/deleteWishlist" method="POST">
                                <button class="btn btn-outline-danger" id="removeWishlistItem" name="item_id" value="{{this.item_id}}">
                                    <span class="bi bi-trash-fill" style="color: black;"></span>
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <p>No items found.</p>
            {{/if}}
        </div>
        </div>
