<!-- Goals: 
- display profile image
- display username (and encrypted password placeholder?)
- stretch: change password
- change profile img button with display of img options
- display wishlisted items
- delete wishlisted items button function
-->
<h1 style="text-align: center;"> abc's Profile</h1>

<!-- Avatar placeholder -->
<div style="text-align: center">
    <img src="/img/avatar1_woman.jpeg" class="rounded-circle mt-4" width="300px;">
</div>

<!-- Username placeholder -->

<!-- Created id's for Wishlist buttons: "addWishlistItem" in discover and "removeWishlistItem" in profile for api functions-->

<h3 style="text-align: center;">Saved Outfits</h3>
<!-- <h2>{username}'s Wishlist</h2>  Need api route if we want to display an interactive subtitle-->

<h3 style="text-align: center;">Wishlist</h3>

<div class="container">
        <div class="row">
            {{#if items.length}}
                {{#each items}}
                <div class="col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                    <div class="card" style="max-width: 400px; max-height: auto;  text-truncate">
                        <img src="{{#if this.item_img.length}}{{this.item_img}}{{else}}/img/cartoon_outfit.jpeg{{/if}}" class="card-img-top" alt="{{this.name}}" <!--style="max-width: 200px; max-height: 400"-->>
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">
                               <!-- Based on api, might be able to add description tags -->
                               <!-- Add a description of the item in the card text -->
                                {{#if this.description}}
                                    {{this.description}}
                                {{else}}
                                    No outfit description.
                                {{/if}}
                            </p>
                            <!-- Wishlist button -->
                            <button class="btn btn-outline-danger" style="border: none; background: none;" id="removeWishlistItem" data-outfit-id="{{this.id}}">
                                <span class="bi bi-trash-fill" style="color: black;"></span>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <p>No items found.</p>
            {{/if}}
        </div>
        </div>
